* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

.logo{
  height: 90px;
  width: 180px;
  margin-left: 10px;
}

a{
  text-decoration: none;
  margin: 10px;
  padding-bottom: 10px;
}

.container{
  widht:100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
}

header{
  background-color: rgb(253, 209,1);
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index:0;
}

.header-left{
  float: left;
}

.header-right{
  float : right;
  margin-right: -15px;
}

.header-right a {
  line-height: 65px;
  padding: 0 20px;
  font-weight: bold;
  color: rgb(2,2,2);
  display: block;
  float: left;
  transition : all 0.5s;
  font-size: 18px;
  font-family: 'Audiowide';
  align: center;
}

body{
  background-color: rgb(2,2,2);
}


.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url(img/background2.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1{
  font-size: 38px;
  letter-spacing: 4px;
  font-family: 'Chau Philomene One';
}

.top-wrapper p{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Alegreya SC';
}

.intro-wrapper{
  color:white;
  text-decoration: none;
}

.intro-wrapper p{
  font-family: 'Bai Jamjuree';
}

.intro-wrapper h1{
  font-family: 'Alegreya SC';
}

.blogs{
  text-decoration: none;
  color: rgb(253,209,1);
  cursor: pointer;
  font-family: 'Bai Jamjuree';
  font-size: 20px;
}

.blogs:hover{
  color: rgb(96,216,191);
}

footer {
  background-color: rgb(253,209,1);
  padding: 0 10px;
}

.logo1{
  margin-top: 10px;
  height: 55px;
}

.footer-left{
  background-color: rgb(253,209,1);
  float: left;
}

.footer-right{
  background-color: rgb(253,209,1);
  font-family: inherit;
  padding: 10px 0;
}
